<!DOCTYPE html>
<html>
<head>
  <title>Registration Success</title>
  <link rel="stylesheet" type="text/css" href="/static/successful_reg.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="icon" href="/static/title_icon.png" type="image/icon type" >
</head>
<body>
  <div class="container">
    <div class="icon">
       <i class="fas fa-check"></i> 
     <!-- <span class="smiley">😊</span>  -->
    </div>
    <h1>Successfully Registered!</h1>
    <p>Thank you for registering. You can now proceed to login.</p>
    <a href="{{url_for('login')}}">Login</a>
  </div>
</body>
</html>