<!DOCTYPE html>
<html>
<head>
  <title>View Profile</title>
  <link rel="stylesheet" type="text/css" href="/static/viewprofile.css">
  <link rel="icon" href="/static/title_icon.png" type="image/icon type" id="title_icon">

  <!-- <script src="script2.js"></script> -->
</head>
<body>
  <div class="container">
    <div class="profile-card">
      <div class="avatar">
        <img src="/static/viewprofile.png" alt="User Avatar">
      </div>
      <div class="profile-info">
        <h1>Your Info</h1>
        <p><strong>Username:</strong> {{name}}</p>
        <p><strong>User ID:</strong> {{user_id}}</p>
        <p><strong>Email:</strong> {{email}}</p>
        <!-- <p><strong>Password:</strong> {{password}}</p> -->
      </div>
    </div>
  </div>
</body>
</html>
